<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
      <allow roles="ChayBan"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <location path="TruongNhom.aspx">
    <system.web>
      <authorization>
        <allow roles="TruongNhom"/>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
